
*{
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 500px;
    background-image: url('images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.navlist{
    color: white;
    font-size: 25px;
}
.navlist ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.navlist ul li{
    text-decoration: none;
}
.header h1{
    color: white;
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
}
span{
    color: yellow;
}
.boxe{
    
    margin-top: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}
.card{
    color: none;
}
.box{

    border: 2%;
    margin-left: 0%;
}
.container-fluid1{
    background-image: url('images/alexandru-acea--WBYxmW4yuw-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-fluid1 .box img{
    height: 300px;
    width: auto;
}
.mycontainer{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    
}
.mycontainer .box{
    border: 2px solid yellow;
    background-color: white;
}
.mycontainer .box p{
    text-align: center;
    font-size: large;
    margin: 5px;
    
}
.container .box img{
    margin-left: 5px;
    height: 300px;
    width: 300px;
}
.container-fluid{
    background: linear-gradient(to right, #00093c, #2d0b00);
    border-radius: 0, 100px, 0 0;
    padding: 100px 0 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 10px;
    margin: 10px;
}
.container-fluid{
    
    height: 600px;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.port{
    background-image: url('images/clint-patterson-dYEuFB8KQJk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portlist{
    text-align: center;
    justify-items: flex-start;
    color: white;
}
.portlist ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.port .card{
    float: inline-block;
   margin-bottom: 2%;
   color: white;
   text-align: center;
   font-size: large;
   margin: 2%;
   padding-bottom: 5%;
}
.port .card h4{
    color: yellow;
}
.port h6{
    color: yellow;
    font-size: 20px;
}
.boxx{
    display: flex;
    justify-content: space-between;
    border: 2px;
    margin: 2px;
}
.boxx .card{
    background-color: black;
    color: white;
    text-align: center;
    margin: 5%;
}
.boxx .card h7{
    font-size: large;
    color: yellow;
}
.contact{
    color: white;
    margin-top: 7%;
}
.contact .email{
    color: white;
}
.contact h6{
    font-size: large;
}
.form{
    margin-top: 7%;
    
}
#Name, #Email{
    border-radius: 11px;
    border: none;
    font-size: large;
    padding: 2%;
    width: 100%;
}
button{
    background-color: blue;
    border-radius: 11px;
    border: none;
    font-size: large;
    padding: 2%;
    width: 50%;
    cursor: pointer;
}
hr{
    width: 100%;
    border: #00093c;
    border-bottom: 2px solid black;
    margin: 20px;
}
.copyright{
    text-align: center;
    font-size: large;
    font-weight: 40px;
}
    


